/* media */
@media (min-width: 320px) and (max-width: 345px){    
    .case-timeline::before{
        left: -50% !important;
    }
    .case-timelin-content .circle:before{
        left: 25% !important;
        width: 14px;
        height: 14px;
    }    
}
/* // 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (max-width: 575px) {
    .main-title {
      font-size: 45px !important;
    }
  
    .sub-title {
      font-size: 15px !important;
    }
  
    .mt {
      margin-top: 50px;
    }
  
    .img-pd {
      margin-bottom: 15px;
    }
  
    .footer-wrap {
      margin-top: 50px !important;
    }
  
    .contents .slick-slide {
      height: 260px;
    }
    .footer-menu{
        margin: 0 6px;
    }
    .list-top a{
        color: #C4C4C4;
    }
    /* 회사소개 */
    .mobile_hide {
      display: none;
    }
  
    .title {
      font-size: 24px;
    }
  
    /* 경영이념 */
    .gray-title {
      font-size: 30px !important;
      line-height: 1em;
    }
  
    .Management-width {
      display: none;
    }
  
    .taeyang-wrap .row {
      margin-top: 36px !important;
    }
  
    .management-bg {
      height: 300px !important;
      background-size: cover;
    }
  
    .margin-box {
      position: relative;
      padding: 40px 10px 0px 10px !important;
      top: -225px;
      width: 90%;
      margin: 0 auto;
    }
  
    .main-text {
      font-size: 22px;
    }
  
    .taeyang-wrap {
      margin-top: 320px;
    }
  
    .Management-line.center {
      display: none;
    }
  
    .Management-line.last {
      display: none;
    }
  
    .icon {
      margin-bottom: 12px;
    }
    /* 연혁 */
    .main-timeline .title{
      font-size: 22px !important;
    }
    .main-timeline .description {
      font-size: 18px !important;
    }
    /* 사업분야 */
    .business-wrap .col-12{
      margin-bottom: 35px !important;
      padding-bottom: 20px !important;
    }
    .date-yy{
        font-size: 20px;
    }
    .case-timeline::before{
        left: -55%;
    }
    .case-timelin-content .circle:before{
        left: 22.5%;
        width: 14px;
        height: 14px;
    }
  }
  
  /* // 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용) */
  @media (min-width: 576px) and (max-width: 767px) {
    .mobile_hide {
      display: none;
    }
  
    .title {
      font-size: 26px;
    }
  
    .mt {
      margin-top: 50px;
    }
    .footer-menu{
        margin: 0 8px;
    }
    .list-top a{
        color: #C4C4C4;
    }
    /* 경영이념 */
    .gray-title {
      font-size: 30px !important;
      line-height: 1em;
    }
  
    .Management-width {
      display: none;
    }
  
    .taeyang-wrap .row {
      margin-top: 80px;
    }
  
    .management-bg {
      height: 300px !important;
      background-size: cover;
    }
  
    .margin-box {
      position: relative;
      padding: 40px 10px 0px 10px !important;
      top: -225px;
      width: 90%;
      margin: 0 auto;
    }
  
    .main-text {
      font-size: 24px;
    }
  
    .taeyang-wrap {
      margin-top: 270px;
    }
  
    .Management-line.center {
      display: none;
    }
  
    .Management-line.last {
      display: none;
    }
  
    .icon {
      margin-bottom: 12px;
    }
  
    .taeyang-wrap .row {
      margin-top: 36px !important;
    }
    /* 연혁 */
    .main-timeline .title{
      font-size: 22px !important;
    }
    .main-timeline .description {
      font-size: 18px !important;
    }
    .date-yy{
        font-size: 20px;
    }
    
  }
  
  /* // 태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용) */
  @media (min-width: 768px) and (max-width: 991px) {
    .dropdown {
      display: none;
    }
  
    .title {
      font-size: 24px;
    }
  
    .taeyang-wrap {
      margin-top: 315px;
    }
  
    .Management-line.center {
      position: absolute;
      width: 1px;
      height: 44% !important;
      border-left: 1px solid #e1e1e1;
      top: -44% !important;
      left: 50%;
    }
  }
  
  /* // 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .dropdown {
      display: none;
    }
  }
  
  /* // 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) */
  @media (min-width: 1200px) {
    .dropdown {
      display: none;
    }
    
  }