@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: break-all;
}

/* 공통 */
a {
  text-decoration: none !important;
}
.mt {
  margin-top: 80px;
}

.mb {
  margin-bottom: 80px;
}

*:focus {
  outline: none !important;
}

button:focus {
  outline: 0;
  box-shadow: none;
}





/* nav */
.top-nav .border-bt .navbar-nav .nav-link {
  font-size: 1.063em;
  margin: 0 33px;
}
.pc-nav-group .dropdown-navbar .nav-link {
  font-size: 1em;
  margin: 0 35px;
  padding: 12px 0;
}
.top-nav{
  padding: 0px;
}

.navbar-expand-lg {
  padding-right: 0px;
  padding-left: 0px;
  padding: 15px 15px;
}

.language-box::after {
  content: '';
  display: block;
  background: #fff;
  width: 1px;
  height: 16px;
  position: absolute;
  top: 32px;
  right:70px;
}


input[id="menuicon"] {
  display: none;
  opacity:0;
}

input[id="menuicon"]+label {
  margin-top: 2px !important;
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 0px;
  background-color: transparent;
}

input[id="menuicon"]+label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
  top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
  bottom: 0;

}

input[id="menuicon"]:checked+label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
  opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/* nav-scroll */
.fixed-head-white {
  background: #fff !important;
  color: #000;
  z-index: 50;
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, .08);
}

.fixed-head-white .nav-link {
  color: #000 !important;
}

.fixed-head-white .menu-bar {
  background-color: #000 !important;
}
.border-bt{
/*  border-bottom: 1px solid rgba(255, 255, 255, .2); */
}
.top-nav {
  position: fixed;
  left: 0px;
  width: 100%;
  transition: all .5s;
}

.dropdown-navbar {
  display:none;
}

.fixed-head-white{
  display:block !important;
}

.fixed-head-white .dropdown-navbar{
  border-top: 1px solid #e1e1e1;
}
.top-nav.fixed-head {
  top: 0px;
}

.logo-r {
  display: none;
}

.fixed-head-white .language-box::after {
  background-color: #000;
}

.fixed-head-white .language {
  color: #000 !important;
}

.fixed-head-white .icon {
  color: #000 !important;
}

.fixed-head-white .logo-r {
  display: block !important;
  display: none;
}

.fixed-head-white .logo-w {
  display: none !important;
}


/* PC dropdown-navbar */
.pc-nav-group .dropdown-navbar .nav-item {
  color: #000 !important;
  margin: 0px 32.5px;
  font-size: 1em;
}
/* mobile-nav */
.mobile-nav-grou{
  z-index: 9999;
}
.mobile-nav-group .dropdown-toggle::after{
  float: right;
  margin-top: 9px;
}
.mobile-nav-group .nav-link{
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.mobile-nav-group .dropdown-menu.show{
  border: none;
  border-radius: 1px;
  margin: 0px;
  padding: 5px;
  background: #fafafa;
  position: fixed;
  top: 0;
}
.mobile-nav-group .navbar{
  padding: 0px;
}
.mobile-nav-group .dropdown-item{
  padding: 14px 25px;
}
.mobile-nav-group .dropdown-menu a:hover{
  background-color: #e1e1e1 !important;
}


/* 메인배너 */
.main-title {
  display: block;
  font-size: 3.750em;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 700;
}

.main-bg-img-1 {
  background-image: url(../img/main_banner_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
}

.main-bg-img-2 {
  background-image: url(../img/main_banner_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
}

@media(max-width:576px){
  .main-bg-img-1{
    background-image: url(../img/mobile_img/m_main_banner_1@2x.jpg);
  }
  .main-bg-img-2{
    background-image: url(../img/mobile_img/m_main_banner_2@2x.jpg);
  }

}



.main_slider button {
  border: none;
  font-size: 0.625em;
  background: none;
  color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;

}




/* 태양건업 */
/* .slider-wrap{
  position: relative;
  height: 300px;
} */
.slider button.slick-prev {
  border: none;
  font-size: 0px;
  background: none;
  color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  top: -11%;
  right: 5%;
}



.slider button.slick-next {
  border: none;
  font-size: 0px;
  background: none;
  color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;

  z-index: 10;
  transform: translateY(-50%);
  top: -11%;
  right: 0%;
}

.chevron {
  border: 1px solid #e1e1e1;
  padding: 7px;
  color: #005FA5;
  margin: -2.5px;
}

.banner {
  max-height: 100%;
  height: auto;
  height: 100%;
  visibility: hidden;
}

.bg-img-1 {
  background-image: url(../img/company_view1.png);
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-2 {
  background-image: url(../img/company_view2.png);
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* 공지사항 */
.box-wrap {
  border: 1px solid #e1e1e1;
  padding: 35px 20px;
  height: 300px;
}

.box-wrap .box-line {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #005FA5;
  margin: 12px 0;
}

.box-wrap .box-title {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 0px;
}

.box-wrap .box-date {
  font-size: 0.875em;
  font-weight: 500;
  color: #888888;
}

.box-wrap .box-text {
  font-size: 0.938em;
  margin-bottom: 0px;
  overflow: hidden;
  height: 70px;
}




/* 사업분야 */
.img-pd {
  padding-right: 0px;
  padding-left: 0px;
}

.plus span:nth-child(1) {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #005FA5;
  position: relative;
  top: 8px;
}

.plus span:nth-child(2) {
  display: block;
  width: 2px;
  height: 16px;
  background-color: #005FA5;
  position: relative;
  right: -47%;
  top: -1px;
}

.plus {
  border: 1px solid #e1e1e1;
  padding: 10px 11px;
}

.business-title {
  color: #fff;
  font-size: 1.125em;
  font-weight: 400;
  position: absolute;
  bottom: 19px;
  left: 4%;
  text-align: left;
}

.business-img-1 {
  background-image: url(../img/main-2.jpg);
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.business-img-2 {
  background-image: url(../img/main-3.jpg);
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.business-img-3 {
  background-image: url(../img/door_r/main_door@2x.jpg);
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.business-img-4 {
  background-image: url(../img/main-4.jpg);
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* --------------------메인 end------------------ */






/* ------------------회사소개 start------------------ */
/* CEO인사말 */
.text {
  font-size: 1.063em;
  line-height: 2.6rem;
  margin-top: 100px;
  word-break: break-word;
}

.banner-title {
  font-weight: 500;
}

.top-banner {
/* background-image: url(../img/image_home.jpeg); */
background-image: url(../img/banner_img_light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

@media(max-width:576px){
  .top-banner{
    background-image: url(../img/mobile_img/m_banner_img_light@2x.jpg);
  }
  .top-banner-2{
    background-image: url(../img/mobile_img/m_business-banner@2x.jpg);
  }
  .top-banner-3{
    background-image: url(../img/mobile_img/m_case-banner@2x.jpg);
  }
  .top-banner-3{
    background-image: url(../img/mobile_img/m_customer-banner@2x.jpg);
  }
}

@media(max-width:714px){
  .top-banner{
    height: 300px;
  }
  .top-banner-2{
    height: 250px !important;
  }
  .top-banner-3{
    height: 250px !important;
  }
  .top-banner-4{
    height: 250px !important;
  }
}

@media(max-width:414px){
  .banner-title{
    font-size: 1.5rem;
    margin-top: 15px;
  }
}



/* 경영이념 */
.gray-title {
  font-size: 3.125em;
  font-family: 'Inter', sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  color: #EEEEEE;
}

.management-bg {
  background: url(../img/about-2.jpg);
  background-position-y: -2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 570px;
}

.margin-box {
  background: #fff;
  padding: 55px 15px 0px 15px;

}

.taeyang-wrap .row {
  margin-top: 120px;
  word-break: break-all !important;
}

.taeyang-text {
  font-size: 1.5em;
  color: #005FA5;
  border: 1px solid #005FA5;
  background: #fff;
  border-radius: 500px;
  padding: 9px 42px;
  display: inline-block;
}

.position {
  position: relative;
  top: 500px;
}

.icon-bg-1 {
  background: #005FA5;
  padding: 40px;
  border-radius: 500%;
}

.icon-bg-2 {
  background: #429FE3;
  padding: 40px;
  border-radius: 100%;
}

.icon-bg-3 {
  background: #30B4C4;
  padding: 40px;
  border-radius: 500%;
}

.taeyang-wrap p {
  font-size: 1.125em;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 6px;
}

.taeyang-wrap span {
  font-size: 1.063em;
  color: #555;
  font-weight: 400;
}

.Management-line {
  position: absolute;
  width: 1px;
  height: 40px;
  border-left: 1px solid #e1e1e1;
  top: -40px;
  left: 50%;
}

.Management-line.center {
  position: absolute;
  width: 1px;
  height: 47%;
  border-left: 1px solid #e1e1e1;
  top: -47%;
  left: 50%;
}

.Management-width {
  position: absolute;
  width: 200%;
  height: 10px;
  border-bottom: 1px solid #e1e1e1;
  top: -50px;
  left: 50%;
}

/* 드롭다운 상세메뉴 nav */
.division {
  font-size: 0.938em;
  color: #888;
}

.nav-list {
  padding-top: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.division::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background: #e1e1e1;
  top: 3px;
  right: 2px;
}

.before::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background: #e1e1e1;
  top: 3px;
  left: 2px;
}

.hit {
  font-weight: 500;
  color: #000;
}

.hit-line {
  border-bottom: 3px solid #005FA5;
  width: 100%;
  padding-bottom: 20px;
  font-weight: 500;
  color: #000;
}

.company-top .dropdown .btn {
  width: 100%;
  padding: 20px;
  border-radius: 0px;
  border: 1px solid #e1e1e1;
}

.company-top .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}

.company-top .dropdown-menu {
  border-radius: 0px;
  top: -2.5% !important;
  width: 100%;
  font-size: 1em;
}

@media(max-width:767px){
  .align-items-center{
    display: none;
  }
}

.company-top .dropdown-menu .dropdown-item {
  padding: 20px;
}

.company-top .dropdown-menu.show {
  transform: translate3d(0px, 66px, 0px) !important;
}

.company-top .dropdown-menu .dropdown-item:hover {
  background-color: #e1e1e1;
}


/* 회사연혁 */
.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  width: 1px;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline:before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%)
}

.main-timeline .title {
  font-size: 2em;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin: 0 0 5px;
}

.main-timeline .timeline {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 0 40px;
  margin: 52px 0 0;
  float: right;
  position: relative;
}

.main-timeline .description {
  display: inline-block;
  font-size: 1.5em;
  color: #404040;
  line-height: 35px;
  letter-spacing: 1px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  float: left;
  text-align: right;
}




/* 오시는길 */
.directions-wrap .col-md-4{
  border-top: 2px solid #757575;
  width: 85%;
  margin: 0 auto;
}
.directions-wrap .col-md-4 div{
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 0;
}
.directions-wrap .col-md-4 div span{
  color: #555;
}
.wrap_controllers.hide{
  display: none;
}
.root_daum_roughmap{
  width: 100% !important;
}

/* --------------------회사소개 end------------------ */






/* ------------------사업분야 start------------------ */
/* 전문건설업 */
.top-banner-2 {
  background-image: url(../img/business-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.business-wrap .col-12{
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 80px;
  padding-bottom: 80px;
}
.business-wrap .col-12 p{
  font-size: 1.063em;
  line-height: 1.5em;
  margin-top: 20px;
}




/* ------------------시공사례 start------------------ */
/* 시공사례 */
.top-banner-3{
  background-image: url(../img/case-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
li{
  list-style: none;
}
.case-wrap .width{
  border-top: 3px solid #005FA5;
}
.case-wrap .circle{
  padding-left: 30px;
}
.case-timeline ul{
margin-bottom: 0px;
}

.case-timeline .case-timelin-content li{
  padding: 10px 0;
}
.case-1 .circle-1::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: .5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-1 .circle-2::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 6%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-2.thai::before{
  top: 5%;
}
.case-1 .circle-2.eng::before{
  top: 6.5%;
}

.case-1 .circle-3::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 15%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-4::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 20%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-4.eng::before{
  top: 21%;
}

.case-1 .circle-5::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top:26%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-1 .circle-6::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 36.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-6.thai::before{
  top: 35%;
}

.case-1 .circle-6.eng::before{
  top: 36%;
}

.case-1 .circle-7::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 45%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-7.thai::before{
  top: 42%;
}
.case-1 .circle-8::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 73.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-8.thai::before{
  top: 68%;
}
.case-1 .circle-8.eng::before{
  top: 67%;
}
.case-1 .circle-9::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 80%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-1 .circle-9.thai::before{
  top: 76%;
}
.case-1 .circle-9.eng::before{
  top: 74%;
}

.case-1 .circle-10::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 97.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}




.case-2 .circle-1::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: .5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-2 .circle-2::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 24.2%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-2 .circle-2.thai::before{
  top: 20%;
}
.case-2 .circle-2.eng::before{
  top: 21%;
}

.case-2 .circle-3::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 63.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-2 .circle-3.thai::before{
  top: 59%;
}

.case-2 .circle-3.eng::before{
  top: 62%;
}

.case-2 .circle-4::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 67.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-2 .circle-4.thai::before{
  top: 64%;
}

.case-2 .circle-4.eng::before{
  top: 64.5%;
}

.case-2 .circle-5::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 73.3%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-2 .circle-5.thai::before{
  top: 71%;
}

.case-2 .circle-5.eng::before{
  top: 74.3%;
}

.case-2 .circle-6::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 79.3%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-2 .circle-6.thai::before{
  top: 78.3%;
}
.case-2 .circle-7::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 84.2%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-2 .circle-7.thai::before{
  top: 83.2%;
}
.case-2 .circle-7.eng::before{
  top: 84.5%;
}

.case-2 .circle-8::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 88.1%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-2 .circle-8.thai::before{
  top: 87.1%;
}

.case-2 .circle-8.eng::before{
  top: 89%;
}


.case-2 .circle-9::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 93.3%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-2 .circle-9.thai::before{
  top: 92%;
}

.case-2 .circle-9.eng::before{
  top: 93.8%;
}

.case-3 .circle-1::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: .5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-2::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 3.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-3 .circle-2.thai::before{
  top: 3%;
}

.case-3 .circle-2.eng::before{
  top: 3%;
}

.case-3 .circle-3::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 6%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-3 .circle-3.thai::before{
  top: 5%;
}

.case-3 .circle-4::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 11.3%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-4.thai::before{
  top: 9%;
}

.case-3 .circle-5::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 18.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-5.thai::before{
  top: 16%;
}

.case-3 .circle-5.eng::before{
  top: 21%;
}

.case-3 .circle-6::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 23.8%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-6.thai::before{
  top: 20%;
}

.case-3 .circle-6.eng::before{
  top: 27%;
}

.case-3 .circle-7::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 41.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-7.thai::before{
  top: 36%;
}

.case-3 .circle-7.eng::before{
  top: 45.5%;
}

.case-3 .circle-8::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 49.2%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-8.thai::before{
  top: 42%;
}

.case-3 .circle-8.eng::before{
  top: 53%;
}

.case-3 .circle-9::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 56.8%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-3 .circle-9.thai::before{
  top: 50%;
}

.case-3 .circle-9.eng::before{
  top: 59.3%;
}

.case-3 .circle-10::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 59.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-10.thai::before{
  top: 52%;
}

.case-3 .circle-10.eng::before{
  top: 61%;
}

.case-3 .circle-11::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 73.3%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-11.thai::before{
  top: 69%;
}

.case-3 .circle-11.eng::before{
  top: 74.5%;
}

.case-3 .circle-12::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 81%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-3 .circle-12.thai::before{
  top: 77%;
}

.case-3 .circle-12.eng::before{
  top: 83%;
}

.case-3 .circle-13::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 99%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-1::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: .5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-2::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 2.5%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-2.thai::before{
  top: 2%;
}

.case-4 .circle-3::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 5.2%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-3.thai::before{
  top: 4.8%;
}

.case-4 .circle-4::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 9.2%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-4.eng::before{
  top: 10%;
}

.case-4 .circle-5::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 16.7%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-5.eng::before{
  top: 18%;
}

.case-4 .circle-6::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 34.3%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-6.thai::before{
  top: 36%;
}

.case-4 .circle-6.eng::before{
  top: 37.5%;
}

.case-4 .circle-7::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 38.4%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-7.thai::before{
  top: 40%;
}

.case-4 .circle-7.eng::before{
  top: 41%;
}

.case-4 .circle-8::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 46.8%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-8.thai::before{
  top: 47.5%;
}

.case-4 .circle-8.eng::before{
  top: 50%;
}

.case-4 .circle-9::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 77.8%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.case-4 .circle-9.thai::before{
  top: 77.5%;
}

.case-4 .circle-9.eng::before{
  top: 79%;
}

.case-4 .circle-10::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 4px solid #005FA5;
  background: #fff;
  position: absolute;
  top: 90%;
  left: 28%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.case-4 .circle-10.thai::before{
  top: 89.5%;
}

.case-timeline::before{
  content: "";
  width: 1px;
  height: 99%;
  border-radius: 20px;
  margin: 0 auto;
  background: #999;
  position: absolute;
  top: 0.5%;
  left: -44%;
  right: 0;
}
.date-yy{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #005FA5;
  font-size: 2em;
  padding-right: 0;
  display: flex;
  align-items: center;
}



/* ------------------고객센터 start------------------ */
/* 공지사항 */
.top-banner-4{
  background-image: url(../img/customer-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.customer-list-wrap .border-blue{
  border-top: 3px solid #005FA5;
}
.customer-list-wrap .article-title{
  font-size: 1.063em;
  margin-bottom: 2px;
  color: #000;
}
.customer-list-wrap .article-date{
  font-size: 0.875rem;
  color: #888;
}
.customer-list-wrap .col-md-12 div{
  padding: 20px 10px 20px 0;
  border-bottom: 1px solid #e1e1e1;
}
.input-group{
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}
.input-group .form-control{
  height: 45px; 
  border-radius: 0px; 
}
.search-btn{
  border: none;
  background-color: #005FA5;
  padding: 6px 20px;
}
.search-btn .material-icons::after{
  opacity: 0;
}
.customer-list-wrap .col-md-12 div:hover{
  background: #fafafa;
}
.page-link{
  color: #555;
}


.customer-wrap{
  padding: 0 15px;
}
.customer-wrap .est-form-btn {
  width: 200px;
  height: 50px;
  color: #555555;
  font-weight: 500;
  font-size: 0.938em;
  background-color: #fff;
  border: 1px solid #636569;
  margin-top: 80px;
}
.customer-wrap p{
  margin: 0px;
  font-size: 1.063em;
  padding: 20px 0;
}
.est-text{
  line-height: 2.5em;
}
.customer-wrap th{
  font-weight: 500;
  font-size: 1.063em;
  width: 20%;
  padding: 20px 0;
  color: #333;
}
.customer-wrap tr{
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 0;
}
.est-table{
  border-top: 3px solid #005FA5;
}
.est-btn{
  margin: 0 auto;
}





/* 푸터 */
.footer-wrap {
  background-color: #3E3E3E;
  padding: 45px 0px;
}

.margin-none {
  margin-left: 0px !important;
}

.footer-menu {
  margin: 0px 20px;
  color: #9E9E9E;
  font-size: 0.9rem;
  display: inline;
}

.list-top {
  font-weight: 500;
}

.list-bottom span {
  font-weight: 500;
  margin-right: 10px;
}


.after-none::after {
  display: none;
}


.title-tip-left{
  width:5px;
  height:23px;
  background-color:#005eaa;
  vertical-align: sub;
  margin-right:14px;
  float:left;

}
.title-text-left{
  font-size: 1.125em;
  font-weight: 500;
  float:left;
}
.desc-text-right{
  color:#555;
  margin-bottom:15px;
  text-align:left;
}

.desc-text-right-bottom{
  text-align:left;
  font-size:0.938em;
}

.bottom-line{
  padding-bottom:50px;
  border-bottom:1px solid #efefef;
}

.product-row{
  margin-top:50px !important;
}

.title-quote {
  color:#005eaa;
  font-weight:bold;
}

.top-banner-seal {
  background-image: url(../img/biz_02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-position: 50% 69%;
  height: 350px;
}
.top-banner-doors {
  background-image: url(../img/biz_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}

.management-bg-seal {
  background: url(../img/top_banner@2x.jpg);
  background-position-y: -2rem;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-position: 50% 69%;
  height: 570px;
}
.management-bg-doors {
  background: url(../img/door_r/web_door@2x.jpg);
  background-position-y: -2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 570px;
}

@media(max-width:576px){
  .management-bg-doors{
    /* background: url(../img/mobile_img/m_top_banner1@2x.jpg); */
    height: 400px;
  }
  .management-bg-seal{
    background: url(../img/mobile_img/m_top_banner@2x.jpg);
    height: 400px;
  }
 
}

.mobile_menu{
  display: none;
}


#wrapper {
  width: 100vw;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 80px;
}

.mobile_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* border-radius: 3px; */
}

.accordionTitle {
  padding: 20px;
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #005FA5;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.accordionTitle:hover {
  padding-left: 25px;
}

/* Accordion Item line */
.accordionTitle:before,
.accordionTitle:after {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionTitle:before {
  width: 100%;
  /* background-color: #e1e1e1; */
}

.accordionTitle:after {
  background-image: linear-gradient(90deg, #005FA5, #e1e1e1);
  width: 0%;
}

.accordionTitle:hover::after {
  width: 100%;
}

/* Accordion Item line - Active */
.accordionTitleActive:after {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionTitleActive:after {
  background-image: linear-gradient(90deg, #005FA5, #e1e1e1);
  width: 100%;
}

/* Accordion Item Icon  */
.accIcon {
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  margin-top: -3px;
  align-items: center;
  justify-content: center;
}

.accIcon:before,
.accIcon:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  background-color: #e1e1e1;
  transition: ease 0.3s all;
}

.accIcon:before {
  width: 2px;
  height: 20px;
}

.accIcon:after {
  width: 20px;
  height: 2px;
}

.accordionTitle:hover .accIcon:before,
.accordionTitle:hover .accIcon:after {
  background-color: #005FA5;
}

.accIcon.anime.accIcon:before {
  transform: rotate(90deg);
}

/* Text Content */
.accordion .item .text {
  opacity: 0;
  height: 0;
  padding: 0px 20px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
  background-color: #fff;
  letter-spacing: 0.5px;
  margin-top: 0;
  
}

.accordion .item button{
  border-top: 1px solid #e1e1e1;
  color: #000;
  width: 100%;
  padding: 15px 20px;
  margin: 0px;
}

.accordion .item button:last-child{
  border-bottom: 1px solid #e1e1e1;
}

.accordion .item button:hover{
  text-decoration: none;
}

/* Text Content - Class for JS to hide and show */
.accordion .item .text.show {
  opacity: 1;
  height: auto;
  padding: 0;
  position: relative;
  z-index: 0;
  border-radius: 0px 0px 3px 3px;
}


.mobile_bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  opacity: 0.5;
  z-index: 2;
  display: none;
}

.language_bg {
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  opacity: 0.5;
  z-index: 51;
  display:none;
}

.mobile_menu {
  max-height: 1px;
  overflow: hidden;
}

.mobile_group.open {
  display: block;
  max-height: unset;
}

.accordion {
  transition: all .5s;
}

.open .accordion {
  background-color: #fff
}

html.prevent-scroll,
body.prevent-scroll {
  overflow: hidden;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mobile-menu-footer{
  width:100%;
  background-color:#ffffff;
  padding:5px;
  text-align:right;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.language-select{
  position: absolute;
  top:75px;
  right:11px;
  background-color:#fff;
  border-radius:5px;
  padding:10px;
  width:300px;
  height:130px;
  overflow:auto;
  max-width: calc(90% - 11px);
  text-align:center;
  z-index:10;
  opacity:0;
  transition: 0.6s all;
  z-index:0;
}
.language-select.show{
  opacity:1;
  width:300px;
  height:130px;
  z-index:53;
}
.language-items{
  padding:5px 10px;
  background-color:#f1f1f1;
  border-radius:3px;
  display:inline-block;
  width:30%;
  cursor: pointer;
  transition: 0.6s all;
}
.language-items.active{
  border:1px solid #000;
}
.language-items:hover {
  background-color:#d0d0d0;
}
.language-text{
  margin-bottom:30px;
}
.remove-language{
  position:absolute;
  right:20px;
  color: #000;
  cursor: pointer;
  top: 11px;
}

.col-sm-8.case-con{
  display: flex;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #000;
  padding-left: 20px;
  word-break: keep-all;
}

.col-sm-8.case-con.thai{
  word-wrap: normal;
}

.dot{
  border: 4px solid #005FA5;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  z-index: 9;
  background-color: #fff;
}

.case_body .case{
  border-top: 3px solid #005FA5;
  margin-top: 100px;
  padding-top: 24px;
}

.case_body .case .col-lg-3 h5{
  word-break: keep-all;
}

.case_body .case .col-lg-3.thai h5{
  word-break: normal;
}

.case_body .case .side_text{
  display: flex;
  align-items: center;
}

.top-nav.eng .border-bt .navbar-nav .nav-link{
  margin: 0px 20px;
}
