@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/* Demo styles */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    font-family: 'Noto Sans KR', sans-serif !important;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
}

a:link {
    color: #000;
    text-decoration: none !important;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red !important;
    text-decoration: underline !important;
}


.container-fluid {
    padding: 0 3% !important;
    margin: 0 auto;
}

.main-container{
    max-width: 1600px !important;
    margin: 0 auto;
}
.tn_type1 th {
    border: 1px solid red;
    padding: 10px;
}


.tn_type1 {
    border: 1px solid red;
}

.div {
    color: red;
}


a {
    text-decoration: none;
    color: black;
}

.navbar .main-container .nav-item button {
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #e1e1e1;
    padding: 8px 24px;
}
.navbar .main-container .nav-item a{
    color: black;
    font-weight: 500;
    margin: 0 6px;
}
.sub-navbar .nav .nav-item a{
    color: black;
    font-weight: 400;
}

.search-bar-wrap .search-bar .row .col-lg-2 button{
    background-color: #FF385C;
    border: none;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 14px 0;
}
.navbar-light .navbar-toggler{
    border: none;
    color: black;
}

.search-bar-wrap .search-bar .row .col::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #e1e1e1;
    width: 1px;
    height: 80%;
    top: 12%;
    right: 2%;
}
.black_banner{
    background-color: #000;
}



.menu-view__left-text .mask-text{
    font-size: 100px;
    display: block;
}
.footer-nav .footer-nav-item{
    font-size: 14px;
    font-weight: 500;
    display: inline;
}
.footer-nav .footer-nav-item::after{
    content: '';
    display: block;
    position: absolute;
    padding-right: 5px;
    border-right:1px solid #000;
}
.text {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif !important;
}

#video {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 111;
    overflow: hidden;
}

.main-slider_header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#nav .header .logo_wrap .logo {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 0px;
}

#nav .header .logo_wrap .logo .left span {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2.4px;
    background-color: #000;
    transition: all .35s;
}

#nav .header .logo_wrap .logo .right span {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    transition: all .35s;
}

#nav .header .logo_wrap .logo .left span:nth-last-child(1) {
    top: 50%;
}

#nav .header .logo_wrap .logo .left span:nth-last-child(2) {
    bottom: 45%;
    transform: translateY(-50%) rotate(90deg);
}

#nav .header .logo_wrap .logo .right span:nth-last-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#nav .header .logo_wrap .logo .right span:nth-last-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

input[id="menuicon"] {
    display: none;
}
input[id="menuicon"]+label {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 0px;
}

input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


.block-text_line {
    font-weight: 800;
    font-size: 22px;
}
.hr{
    border-top:1px solid #000;
}
.n-badge .n-badge-wrap .n-badge-item {
    pointer-events: auto;
    position: relative;
    top: -50px;
    right: -50px;
    padding: 1px 10px;
    border-radius: 1em;
    background-color: rgba(219, 16, 16, .9);
    border: 1px solid red;
    color: #fff;
    box-shadow: .1em .1em .2em rgba(0, 0, 0.1);
    font-weight: 700;
    font-size: 16px;
    display: inline;

}

.menu-view .text-box-left .n-badge-wrap{
    pointer-events: auto;
    position: relative;
    top: -48px;
    right: 30px;
    padding: 3px 25px;
    border-radius: 1em;
    background-color: rgba(219, 16, 16, .9);
    border: 1px solid red;
    color: #fff;
    box-shadow: .1em .1em .2em rgba(0, 0, 0.1);
    font-weight: 700;
    font-size: 40px;
    display: inline;

}
.text-box-left li{
    font-size: 5rem;
    font-weight: 800;
    line-height: 6.5rem;
    display: block;
}
.text-box-right li{
    font-family: 'Inter', sans-serif !important;
    font-weight: 700;
    line-height: 3.5rem;
}
.menu-view{
    position: absolute;
    width:100%;
    height:100vh;
    font-size:20px;
    font-weight: bold;
    top:0px;
    left:0px;
    background-color: #fff;
    display:none;
    z-index:20;
    padding: 300px 0;
}

.menu-view .opened {
    display:block !important;
}

.menu-item{
    line-height: 3rem;
    line-height: 4rem;
}
.scroll-link { position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); } .mouse { max-width: 2.5rem; width: 100%; height: auto; }
@keyframes scroll { 0%, 20% { transform: translateY(0) scaleY(1); } }
@keyframes scroll { ... 10% { opacity: 1; } 100% { transform: translateY(36px) scaleY(2); opacity: 0.01; } }
.scroll { animation-name: scroll; animation-duration: 1.5s; animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500); animation-iteration-count: infinite; transform-origin: 50% 20.5px; will-change: transform; }